<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome {{ username }}!</h1>
        <h2> {{ threadName }} </h2>
        <h3> {{ post.title }} </h3>
        <p> {{ post.text }}</p>
        <ul>
            {% for comment in comments %}
            <li> {{ comment.user.username }} : {{ comment.text }}</li>
            {% endfor %}
        </ul>
        
        <br>
        
        <br>
        <form action="{% url 'theforum:post' post.slug %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button>Create Comment</button>
        </form>

        <br>

        <form action="{% url 'theforum:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>