<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome {{ username }}!</h1>
        <h3> Posts </h3>
        <ul>
            {% if posts|length == 0 %}
                No posts yet
            {% else %}
                {% for post in posts %}
                    <li><a href="{% url 'theforum:post' post.slug %}">{{ post.title }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
        
        <br>
        <form action="{% url 'theforum:thread' thread.slug %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button>Create Post</button>
        </form>

        <br>

        <form action="{% url 'theforum:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>